nav {
    width: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 15px;
  }
  
  nav i {
    padding: 15px;
    color: #040404;
    font-size: 42px;
  }
  nav hr {
    all: unset;
    background-color: #f7f6f9;
    width: 100%;
    height: 1px;
    margin-top: 16px;
  }
  nav ul {
    flex: 1;
    padding: 1px 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  nav i:hover {
    color: gray;
  }
  